<!-- <section class="flex gap-5 items-center my-0">
  <img src="/logo.jpg" alt="Hospital provincial" />
  <nav class="flex">
    <a routerLink="../home"> Cargar Home</a>
    <a routerLink="../regin"> Cargar Regin</a>
    <div>
      Cerrar sesion :
      <i
        (click)="onLogout()"
        class="pi pi-sign-out mr-5 p-2 rounded-lg border border-gray-600 hover:bg-teal-300 hover:text-white cursor-pointer"
      ></i>
    </div>
  </nav>
</section> -->

<nav
  style="
    background: rgb(9, 168, 160);
    background: linear-gradient(
      90deg,
      rgba(9, 168, 160, 1) 0%,
      rgba(128, 195, 102, 1) 100%
    );
  "
  class="w-full h-16 text-white flex items-center"
>
  <ul
    class="flex gap-8 list-none max-w-[100rem] w-full mx-auto text-sm font-medium cursor-pointer"
  >
    <li>MI USUARIO <i class="pi pi-sort-down-fill text-sm mx-2"></i></li>
    <li>
      LISTA DE APLICACIONES <i class="pi pi-sort-down-fill text-sm mx-2"></i>
    </li>
    <li>
      LISTADO TELEFONICO <i class="pi pi-sort-down-fill text-sm mx-2"></i>
    </li>
    <li>SERVICIOS <i class="pi pi-sort-down-fill text-sm mx-2"></i></li>
  </ul>
</nav>
