<nav
  style="
    background: rgb(9, 168, 160);
    background: linear-gradient(
      90deg,
      rgba(9, 168, 160, 1) 0%,
      rgba(128, 195, 102, 1) 100%
    );
  "
  class="w-full h-16 text-white flex items-center justify-center"
>
  <ul
    class="flex gap-8 list-none max-w-[90rem] w-full text-sm font-medium cursor-pointer"
  >
    <li>
      <a routerLink="usuario" class="no-underline text-white"
        >MI USUARIO

        <i class="pi pi-sort-down-fill text-sm mx-2"></i>
      </a>
    </li>
    <li>
      <a routerLink="aplicaciones" class="no-underline text-white">
        LISTA DE APLICACIONES <i class="pi pi-sort-down-fill text-sm mx-2"></i>
      </a>
    </li>
    <li>
      <a routerLink="telefonos" class="no-underline text-white">
        LISTADO TELEFONICO <i class="pi pi-sort-down-fill text-sm mx-2"></i>
      </a>
    </li>
    <li>
      <a routerLink="servicios" class="no-underline text-white">
        SERVICIOS <i class="pi pi-sort-down-fill text-sm mx-2"></i>
      </a>
    </li>
  </ul>
</nav>
