<nav
  style="
    background: rgb(9, 168, 160);
    background: linear-gradient(
      90deg,
      rgba(9, 168, 160, 1) 0%,
      rgba(128, 195, 102, 1) 100%
    );
  "
  class="w-full h-16 text-white flex items-center justify-center"
>
  <ul
    class="flex gap-8 list-none max-w-[90rem] w-full text-sm font-medium cursor-pointer"
  >
    <li>MI USUARIO <i class="pi pi-sort-down-fill text-sm mx-2"></i></li>
    <li>
      LISTA DE APLICACIONES <i class="pi pi-sort-down-fill text-sm mx-2"></i>
    </li>
    <li>
      LISTADO TELEFONICO <i class="pi pi-sort-down-fill text-sm mx-2"></i>
    </li>
    <li>SERVICIOS <i class="pi pi-sort-down-fill text-sm mx-2"></i></li>
  </ul>
</nav>
