<section class="text-textColor w-[30rem]">
  <h2 class="text-xl font-bold">Documentos y manuales recomendados</h2>
  <!-- Archivos -->
  <div class="group flex items-center cursor-pointer rounded-lg py-4 mx-5 px-4">
    <span class="font-semibold group-hover:text-white">
      <i class="pi pi-file mr-2 text-azul group-hover:text-white"></i>
      Documento a descargar 1</span
    >
  </div>
  <div class="w-full h-[1px] bg-[#eaeced] my-1"></div>
  <!-- Archivos -->
  <div class="group flex items-center cursor-pointer rounded-lg py-4 mx-5 px-4">
    <span class="font-semibold group-hover:text-white">
      <i class="pi pi-file mr-2 text-azul group-hover:text-white"></i>
      Documento a descargar 1</span
    >
  </div>
  <div class="w-full h-[1px] bg-[#eaeced] my-1"></div>
  <!-- Archivos -->
  <div class="group flex items-center cursor-pointer rounded-lg py-4 mx-5 px-4">
    <span class="font-semibold group-hover:text-white">
      <i class="pi pi-file mr-2 text-azul group-hover:text-white"></i>
      Documento a descargar 1</span
    >
  </div>
  <div class="w-full h-[1px] bg-[#eaeced] my-1"></div>
  <!-- Archivos -->
  <div class="group flex items-center cursor-pointer rounded-lg py-4 mx-5 px-4">
    <span class="font-semibold group-hover:text-white">
      <i class="pi pi-file mr-2 text-azul group-hover:text-white"></i>
      Documento a descargar 1</span
    >
  </div>
  <div class="w-full h-[1px] bg-[#eaeced] my-1"></div>
</section>

<style>
  .group:hover {
    background: linear-gradient(
      90deg,
      rgba(9, 168, 160, 1) 0%,
      rgba(128, 195, 102, 1) 100%
    );
  }
</style>
