<section class="h-full mx-5">
  <app-breadcrumb />

  <h3 class="font-medium text-center">
    <i class="pi pi-list text-teal-500 ml-4 px-2"></i> Listado de Incidencias
  </h3>

  <div class="card max-w-7xl mx-auto">
    <p-table
      #dt2
      [value]="incidenciasList"
      [tableStyle]="{ 'min-width': '70rem' }"
      [styleClass]="size"
      styleClass="p-datatable-striped"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]"
      [globalFilterFields]="[
        'titulo',
        'comentario',
        'tipo.nombre',
        'usuario.nombre'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-between">
          <!-- FIltro Calendario -->
          <div class="flex flex-col mb-5">
            <label class="text-sm font-normal my-1 text-[#4a5568] mb-1"
              >Filtrar por fecha</label
            >
            <app-calendar
              [(date)]="fecha"
              (dateChange)="onDateChanged($event)"
            />
            <span
              class="mt-2 text-teal-500 cursor-pointer text-xs px-2"
              (click)="clearDate()"
            >
              Limpiar filtro de fecha
            </span>
          </div>

          <!-- FIltro lo demas -->
          <div class="flex flex-col items-end mb-5">
            <label
              for="subtipo"
              class="text-sm font-normal my-1 text-[#4a5568] px-2 mb-1"
              >Busqueda por titulo, comentario, tipo o usuario</label
            >
            <p-iconField iconPosition="right" class="ml-auto">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                pInputText
                type="text"
                (input)="
                  dt2.filterGlobal($any($event.target).value, 'contains')
                "
                placeholder="Buscar..."
                class="custom-input"
              />
            </p-iconField>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="fecha" style="width: 10%">
            Fecha <p-sortIcon field="fecha" />
          </th>
          <th pSortableColumn="hora" style="width: 8%">
            Hora <p-sortIcon field="hora" />
          </th>
          <th pSortableColumn="usuario" style="width: 13%">
            Usuario <p-sortIcon field="usuario" />
          </th>
          <th pSortableColumn="titulo" style="width: 17%">
            Titulo <p-sortIcon field="titulo" />
          </th>
          <th pSortableColumn="comentario" style="width: 22%">
            Comentario <p-sortIcon field="comentario" />
          </th>
          <th pSortableColumn="tipo" style="width: 15%">
            Tipo <p-sortIcon field="tipo" />
          </th>
          <th pSortableColumn="subtipo" style="width: 15%">
            Subtipo <p-sortIcon field="subtipo" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-incidenciasList>
        <tr>
          <td>{{ incidenciasList.fecha }}</td>
          <td>{{ incidenciasList.horaInicio }}</td>
          <td>{{ incidenciasList.usuario.nombre }}</td>
          <td>{{ incidenciasList.titulo }}</td>
          @if(incidenciasList.comentario.length >= 30 ){

          <td>
            <!-- Mostrar el comentario dependiendo de si está expandido o no -->
            <ng-container
              *ngIf="
                isComentarioExpandido(incidenciasList.id);
                else comentarioCorto
              "
            >
              {{ incidenciasList.comentario }}
              <br />
              <span
                class="cursor-pointer text-teal-500 text-sm"
                (click)="mostrarComentarioCompleto(incidenciasList.id)"
              >
                Ver menos
              </span>
            </ng-container>
            <!-- Mostrar solo una parte del comentario -->
            <ng-template #comentarioCorto>
              {{ incidenciasList.comentario.slice(0, 30) }}...
              <br />
              <span
                class="cursor-pointer text-teal-500 text-sm"
                (click)="mostrarComentarioCompleto(incidenciasList.id)"
              >
                Ver comentario completo
              </span>
            </ng-template>
          </td>

          }@else {
          <td>{{ incidenciasList.comentario }}</td>

          }
          <td>{{ incidenciasList.tipo.nombre }}</td>
          <td>{{ incidenciasList.subtipo.nombre }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
