<section class="w-full">
  <h2 class="text-xl font-bold text-textColor">Recursos sugeridos</h2>
  <app-primary-bar />
  <article class="grid grid-cols-4 mb-4">
    <app-card
      title="Mi usuario"
      description="Este es el nuevo texto que aparece al hacer hover."
      img="/icons/usuario.png"
      routerLink="usuario"
    />
    <app-card
      title="Aplicaciones Internas"
      description="Este es el nuevo texto que aparece al hacer hover."
      img="/icons/apps.png"
      routerLink="aplicaciones"
    />
    <app-card
      title="Listado Telefónico"
      description="Este es el nuevo texto que aparece al hacer hover."
      img="/icons/agenda.png"
      routerLink="telefonos"
    />

    <app-card
      title="Servicios"
      description="Servicios con su telefono y email del super."
      img="/icons/services.png"
      routerLink="servicios"
    />
  </article>
</section>
