<header
  class="flex justify-between items-center h-16 text-center text-gray-700 bg-teal-100 px-10"
>
  <div class="flex items-center gap-4">
    <h1 class="text-2xl">RegIn</h1>
    <h2 class="text-base font-light">
      Aplicación para el registro de incidencias
    </h2>
  </div>

  <div class="flex items-center gap-2">
    @if (user()) { @if (user()?.role?.id !== 1) {
    <p-tag
      severity="secondary"
      value="{{ user()?.role?.nombre }}"
      [rounded]="true"
      icon="{{ user()?.role?.id === 3 ? 'pi pi-crown' : 'pi pi-star' }}"
    />
    }@else {
    <span>Bienvenido: </span>
    }

    <span class="ml-2 font-medium">
      {{ user()?.nombre }} {{ user()?.apellidos }}
    </span>

    <i
      (click)="onLogout()"
      class="pi pi-sign-out mr-5 p-2 rounded-lg border border-gray-600 hover:bg-teal-400 hover:text-white cursor-pointer"
      routerLink="/"
    ></i>
    }
  </div>
</header>
