<a
  class="group flex flex-col items-center justify-center h-44 w-52 rounded-lg cursor-pointer my-7 shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] relative overflow-hidden text-textColor hover:text-white hover:mx-2"
>
  <img src="{{ img }}" alt="icono" class="w-16 group-hover:hidden" />
  <span class="text-center mx-6 mt-2 font-semibold hover:text-start">{{
    title
  }}</span>
  <p class="hidden mx-6 mt-2 text-sm group-hover:inline">
    {{ description }}
  </p>
</a>

<style>
  .group:hover {
    background: linear-gradient(
      90deg,
      rgba(9, 168, 160, 1) 0%,
      rgba(128, 195, 102, 1) 100%
    );
  }
</style>
