@import "primeng/resources/themes/aura-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}
@layer primeng;
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
